<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BullsEye.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7FC0CA751CDD8281008B9618</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7FC0CA8C1CDD8282008B9618</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7FC0CA971CDD8282008B9618</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
